*{
    font-family: "Segoe UI", Arial,"Noto Sans","Liberation Sans";
}

header,
footer {
    flex-basis: 100%;
    background: #000f52;
    background: linear-gradient(45deg, #346081 0%, #1f68a0 100%);
}

nav li{
    flex-grow: 1;
    text-align: center;
    border-left: black solid 1px;
}

nav a{
    width: 100%;
    background-color: #5784BA;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

nav a:hover{
    background-color: rgba(87, 132, 186, 0.623)
}

header h1 {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.button {
    border-radius: 4px;
    background-color: #08c0c0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    margin-top: 5px;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

main li{
    border: 1px black solid;
    list-style-type: none;
    border-radius: 10px;
    background: linear-gradient(0deg, #346081 0%, rgba(87, 132, 186, 0.9) 100%);
    color: white;
}

.Cours{
    display: none;
    padding-left: 20px;
    font-size: 20px;
}

main li:hover .Cours{
    display: block;
}

main li h2{
    text-align: center;
    padding: 10px;
}

body{
    background-image: url(image_cours/feuille.gif);
    background-position: center;
    background-size: cover;
}