body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(159, 187, 197);
    margin: 0%;
}

header,
footer {
    border: 1px black solid;
    flex-basis: 100%;
    background: #000f52;
    background: linear-gradient(90deg, rgba(0, 15, 82, 1) 0%, rgb(60, 123, 210) 100%);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;

}

li {
    display: inline;
    text-align: center;
    border: black solid 1px;
    flex-basis: 22%;
    margin: 5px;
}

h1 {
    text-align: center;
    color: white;
}

.button {
    width: 400px;
    background-color: #08c0c0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: transform .5s;
    
}
.button:hover {
    -ms-transform: scale(1.1); /* IE 9 /
    -webkit-transform: scale(1.1); / Safari 3-8 */
    transform: scale(1.1); 
  }



  
  .button:hover {
    -ms-transform: scale(1.1); /* IE 9 /
    -webkit-transform: scale(1.1); / Safari 3-8 */
    transform: scale(1.03); 
  }

main section{
    border: black solid 1px;
    margin-bottom: 20px;
}

main{
    flex-basis: 68%;
    border: black solid 1px;
    margin: 10px;
    margin-left: 25px;
}

aside{
    flex-basis: 28%;
    border: black solid 1px;
    margin: 10px;
}

div{
    margin-bottom: 10px;
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

h2{
    margin-left: 10px;
}

#gpe {
    margin: 5px;
}

aside section{
    border: black solid 1px;
    margin-bottom: 20px;
}

.skip {
    width: 100;
    background-color: #08c0c0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: transform .5s;
    margin: 20px;
    border-radius: 10px;
    
}
.skip:hover {
    -ms-transform: scale(1.1); /* IE 9 /
    -webkit-transform: scale(1.1); / Safari 3-8 */
    transform: scale(1.1); 
  }



  
  .skip:hover {
    -ms-transform: scale(1.1); /* IE 9 /
    -webkit-transform: scale(1.1); / Safari 3-8 */
    transform: scale(1.05); 
  }