*{
  font-family: "Segoe UI", Arial,"Noto Sans","Liberation Sans";
}
html, body {
   margin:0;
   padding:0;
   height:100%;
}
body{
  margin: 0%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}


main {
  color: black;
  flex-basis: 100%;
}

main a {
  text-decoration: none;
  color: black;
}

header { 
  border: 1px black solid;
  background: linear-gradient(45deg, #346081 0%, #1f68a0 100%);
  color: lightgray;
}

footer {
  background: linear-gradient(45deg, #346081 0%, #1f68a0 100%);
  color: lightgray;
}

#IUT a{
  color: white;
  text-decoration: none;
}

.button {
  background-color: rgba(115, 203, 203, 0.9);
  transition: transform .5s;
  border: 1px rgba(115, 203, 203, 0.5) solid;
  border-radius: 10px;
}

.button:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

body{
  background-image: url("../../img/paper_gif.gif");
  background-size: cover;
  background-position: center;

}

footer{
  text-align: center;
}

footer img{
  float: right;
  width: 80px;
}